.vscode/
.idea/
__pycache__/
*.egg-info
build
dist

# files from script downloads
data
openfold/resources/
tests/test_data/
cutlass/
*.txt
*.png
*.pdb
*.json
*.pkl
*.fasta
*.sto
*.a3m
*.hhr

# binaries
bin/

